<!DOCTYPE html>
<html>
  <head>
    <title>IndeedApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script type="text/javascript"
src="http://gdc.indeed.com/ads/apiresults.js"></script>

<script src='//cameratag.com/api/v10/js/cameratag.min.js' type='text/javascript'></script>
<link rel='stylesheet' href='//cameratag.com/static/10/cameratag.css'></link>


<link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
<script src="//assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
<script>ZiggeoApi.token = "de2bd2f24be7aca46f693e47c25c08a0";</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
